<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nju.edu.erp.dao.CardDao">
    <select id="findCardNumById" resultType="java.lang.Integer">
        SELECT card_num from card where worker_id = #{workerId};
    </select>

    <insert id="addWorker">
        insert into card (worker_id,card_num,late_num) values (#{workerId},0,0)
    </insert>
</mapper>